/*© 2014 Kirill Dyatlov*/
/* line 3, D:\work\Web\Server\domains\styleit.dev\less\reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/work\/Web\/Server\/domains\/styleit\.dev\/less\/reset\.less}line{font-family:\000033}}
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;
}
/* line 9, D:\work\Web\Server\domains\styleit.dev\less\reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/work\/Web\/Server\/domains\/styleit\.dev\/less\/reset\.less}line{font-family:\000039}}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 10, D:\work\Web\Server\domains\styleit.dev\less\reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/work\/Web\/Server\/domains\/styleit\.dev\/less\/reset\.less}line{font-family:\0000310}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  vertical-align: top;
}
/* line 27, D:\work\Web\Server\domains\styleit.dev\less\reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/work\/Web\/Server\/domains\/styleit\.dev\/less\/reset\.less}line{font-family:\0000327}}
body {
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}
/*remove fucking yellow stroke in google chrome*/
/* line 33, D:\work\Web\Server\domains\styleit.dev\less\reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/work\/Web\/Server\/domains\/styleit\.dev\/less\/reset\.less}line{font-family:\0000333}}
input,
textarea {
  outline: none;
}
/* line 34, D:\work\Web\Server\domains\styleit.dev\less\reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/work\/Web\/Server\/domains\/styleit\.dev\/less\/reset\.less}line{font-family:\0000334}}
input:active,
textarea:active {
  outline: none;
}
/* line 35, D:\work\Web\Server\domains\styleit.dev\less\reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/work\/Web\/Server\/domains\/styleit\.dev\/less\/reset\.less}line{font-family:\0000335}}
:focus {
  outline: none;
}
/* line 15, D:\work\Web\Server\domains\styleit.dev\less\styleit.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/work\/Web\/Server\/domains\/styleit\.dev\/less\/styleit\.less}line{font-family:\0000315}}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  background: #ffffff;
  line-height: 1.5;
  font-size: 100%;
}
