/*
© 2014 Kirill Dyatlov
Saint Petersburg
Russia
*/
/* 
    Created on : 28.08.2014, 23:57:17
    Author     : Jupiter
*/

@link-color: #007ac5;
.link {
    text-decoration: none;
    border-bottom: 1px solid;
    background: none;
    color: @link-color;
}
a:link, a:visited, a {
    .link;
}