/*
© 2014 Kirill Dyatlov
Saint Petersburg
Russia
*/
/* 
    Created on : 28.08.2014, 23:47:12
    Author     : Jupiter
*/

@import "reset";
@import "link";
@import "button";
@import "typography";

body {
    background-color: white;
    font-size: .87em;
    font-family: @font;
    line-height: 1.5em;
}