/*
© 2014 Kirill Dyatlov
Saint Petersburg
Russia
*/
/* 
    Created on : 29.08.2014, 0:05:36
    Author     : Jupiter
*/
@font: 'Helvetica Neue', Arial, sans-serif;

/* HEADERS */
h1, h2, h3, h4, h5, h6, .title {
    font-family: @font;
    font-style: normal;
    font-weight: bold;
    position: relative;
}
h1 {
    font-size: 230%;
    margin: 0.25em 0 0 0;
    padding: 0;
    line-height: 1;
}
h2, h3 {
    line-height: 1.2;
    margin: 0.4em 0 0 0;
    padding: 0.5em 0 0 0;
}
h2 {font-size: 170%;}
h3 {font-size: 148%;}
h4, h5 {
    font-size: 120%;
    line-height: 1.3;
    margin: 0.4em 0 0 0;
    padding: 0.6em 0 0 0;
}
h5 {
    font-size: 90%;
    text-transform: uppercase;
}
h5 {
    font-size: 90%;
    text-transform: uppercase;
}
h1+h2,
h2+h3,
h3+h4,
h4+h5 {
  margin-top: -0.2em;
}
h1.main-header {
    margin: 1.4em 0 1.2em 0;
}