// Чернобелая палитра
@black:              #000;
@gray-darker:            lighten(@black, 13.5%); // #222
@gray-dark:              lighten(@black, 20%);   // #333
@gray:                   lighten(@black, 33.5%); // #555
@gray-light:             lighten(@black, 46.7%); // #777
@gray-lighter:           lighten(@black, 93.5%); // #eee
@white:             #fff;

// Цветная палитра


//Глобальные переменные
@body-bg:               #fff;

//Типографика
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;

@font-size-h1:            floor((@font-size-base * 2.3)); // 230%
@font-size-h2:            floor((@font-size-base * 1.7)); // 170%
@font-size-h3:            ceil((@font-size-base * 1.48)); // 148%
@font-size-h4-5:          ceil((@font-size-base * 0.9)); // 90%

@line-height-base:        1.5em;
@headings-font-family:    inherit;
@headings-font-weight:    bold;
@headings-color:          inherit;
@headings-font-style:     normal;

@font-smaller:             93%;

// Закругления
@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;

// Ссылки
@link-color:                #06C;
@link-hover-color:          #d2270b;
@link-not-hover:            .6s;

// Кнопки


// Формы


// Сетка
@grid-columns:              12;
@max-width:               1200px;
@min-width:                 995px;
@fixed-width:             1000px;

// Списки
