extends layout/_layout

// SET PAGE TITLE
block title
	| Grid

// HEADER
block header
	include layout/_menu

// CONTENT
block content
	#layout
		main
			.wrapper
				h1 Base grid system
				.row
					- for (var x = 0; x < 12; x++)
						.col-1 #{x+1}


// FOOTER
block footer
	include layout/_footer