extends layout/_layout

block title
	|  Home page

block content
	main
		.wrapper
			h1 Бесплатный стимул глазами современников
			p
				| Notice the extra info that I included in the tag.
				| You can put whatever you want prior to, inside of, and after the block title
				| The resulting tag will contain all of the content that you specify,
				| including the content within the block, by default.

block footer
	footer