doctype 5
html(lang="en")
	head
		meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
		title
			| Styleit ::
			block title
				| Light CSS framework

		link(rel='stylesheet', href='./stylesheets/styleit.css',type='text/css')

	body
		include _menu
		block content
		block footer