doctype 5
html(lang="en")
	head
		meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
		title
			| Styleit ::
			block title
				| Light CSS framework

		// Style
		link(rel='stylesheet', href='./assets/stylesheets/styleit.css',type='text/css')

		// JS
		script(type="text/javascript", src="./assets/javascripts/jquery/jquery-min-1.10.0.js")

	body
		block header
		block content
		block footer